@model List<PersistenceGlassDemo.Models.Pages.NewsPage>

@if (Model.Count == 0 && Html.Glass().IsInEditingMode)
{
    <h2>No news found, select a valid news source item.</h2>
}

<ul>
    @foreach (var newsItem in Model)
    {
        <li>
            <a href="@Url.SitecoreUrl(newsItem)">@newsItem.Headline</a>
            <p>@newsItem.PublicationDate.ToString("D")</p>
            @newsItem.TeaserText
        </li>
    }
</ul>